@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="padding-top:30px;">
    <div class="container">
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/1" title="Castillo San Lorenzo Rioja Reserva"><img src="https://www.ocado.com/productImages/814/81434011_0_640x640.jpg?identifier=16bf5e33a1df9c8cb935e3c6d954121a" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/2" title="Calvet Prestige Bordeaux"><img src="http://img.tesco.com/Groceries/pi/533/8436014670533/IDShot_540x540.jpg" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/wines/Details/3" title="Yellow Tail Shiraz"><img src="http://www.metroliquor.com/media/catalog/product/y/e/yellow_tail_shiraz_1.jpg" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/4" title="Ogio Primitivo"><img src="http://img.tesco.com/Groceries/pi/859/0839728001859/IDShot_540x540.jpg" class="img-thumbnail" height="250" /></a></div>

    </div>
    <hr />
    <div class="container">
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/5" title="Kumala Pinotage Shiraz"><img src="http://img.tesco.com/Groceries/pi/114/5028267008114/IDShot_540x540.jpg" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/6" title="Turner Road Reserve Merlot"><img src="https://groceries.morrisons.com/productImages/212/212315011_0_640x640.jpg?identifier=3c824829ff3dd83feb9e95721d82c4b2" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/7" title="Isla Negra Seashore Cabernet Sauvignon"><img src="http://cdn.shopify.com/s/files/1/0116/4122/products/isla_negra_cabernet_sauvignon_grande.jpg?v=1422831822" class="img-thumbnail" height="250" /></a></div>
        <div class="col-sm-4 col-md-3"><a href="/Wines/Details/8" title="Oyster Bay Merlot, Hawkes Bay"><img src="https://www.ocado.com/productImages/265/26563011_0_640x640.jpg?identifier=2fdeba99ae2b602df29f87afa0e37e05" class="img-thumbnail" height="250" /></a></div>
    </div>
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@